.board-wrap {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.board {
  width: 800px;
  height: 800px;
  margin: 20px auto;
}

.box {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box:hover {
  background-color: rgba(1, 2, 1, 0.5);
}

.row {
  display: flex;
  height: 100px;
}

.koma {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  pointer-events: none;
}

.koma-shiro {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  pointer-events: none;
}

.koma-kuro {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  pointer-events: none;
}

.placed {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
