.btn-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 400px;
  margin-left: 12px;
}

.btn2 {
  font-size: 20px;
  color: #333;
  background: rgb(63, 238, 238);
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 1px 1px #0e4c72;
  border-radius: 10px;
}

.onemore {
  margin-bottom: 40px;
}

.btn2:hover {
  opacity: 0.7;
}

.btn2:active {
  box-shadow: none;
  transform: translateY(2px);
}

.sample {
  width: 80px;
  height: 80px;
  background: #fff;
  margin: 80px;
  border-radius: 50px;
  transition: transform 2s;
}

.sample:hover {
  transform: rotateY(180deg);
  background-color: #000;
  animation: sample 1s; /* Add animation property to apply the keyframes */
}

@keyframes sample {
  0% {
    /* Define the styles at the starting keyframe (0%) */
    transform: rotateY(0deg);
    background-color: #fff;
  }
  50% {
    /* Define the styles at the midpoint keyframe (50%) */
    transform: rotateY(90deg); /* Rotate halfway */
    background-color: #fff; /* Change to black instantly */
  }
  51% {
    transform: rotateY(90deg); /* Rotate halfway */
    background-color: #000;
  }
  100% {
    /* Define the styles at the ending keyframe (100%) */
    transform: rotateY(180deg);
    background-color: #000;
  }
}
