.btn-wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn2 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  background: rgb(250, 242, 133);
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 1px 1px #b1a45c;
  border-radius: 10px;
}

.btn3 {
  background: rgb(113, 250, 243);
  box-shadow: 2px 2px 1px 1px rgb(92, 150, 177);
}

.onemore {
  margin-bottom: 40px;
}

.btn2:hover {
  opacity: 0.8;
}

.btn2:active {
  box-shadow: none;
  transform: translateY(2px);
}
/* 
.sample {
  width: 80px;
  height: 80px;
  background: #fff;
  margin: 80px;
  border-radius: 50px;
  transition: transform 2s;
} */
/* 
.sample:hover {
  transform: rotateY(180deg);
  background-color: #000;
  animation: sample 1s;
}

@keyframes sample {
  0% {
    transform: rotateY(0deg);
    background-color: #fff;
  }
  50% {
    transform: rotateY(90deg);
    background-color: #fff;
  }
  51% {
    transform: rotateY(90deg);
    background-color: #000;
  }
  100% {
    transform: rotateY(180deg);
    background-color: #000;
  }
} */

/* Modalのcss */

/* modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  width: 300px;
  height: 300px;
  padding: 20px;
  border-radius: 8px;
}

.modal-text {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.btn-wrap-modal {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.result-img-wrap {
  position: relative;
  display: flex;
  justify-content: center;
}

.result {
  font-size: 56px;
  color: #fff;
  position: absolute;
}

.p1 {
  top: 26%;
  left: 52%;
  transform: translate(-21%, -50%);
}

.p2 {
  top: 34%;
  left: 41%;
}
